h1{
    background-color: blueviolet;
    color: blanchedalmond;
    font-size: medium;
    text-align: left;
    font: size 24px;
}

a{
    text-decoration: none;
}

body{
    background-image: url("images/Untitled\ design.png");
    background-size: cover;
    background-repeat: no-repeat;

}

table{
    height: 40vh;
    width: 50vh;
}
table,th,td{
    border: 3px solid black;
    border-collapse: collapse;
}
th{
    background-color: beige;
}
td{
    background-color: aquamarine;
}
